$animation-time: 400ms;
$max-fit: 90%;

@keyframes background-elements {
 50% { filter: blur(0px) grayscale(1); }
 100% { filter: blur(5px) grayscale(0.6); }
}

@keyframes background-opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes forground-scale-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  30% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin stretched($position: absolute) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Body, JS will need to do this
body.modal-visible-animated-in {
  overflow: hidden;
}

.modal-main {

  @include stretched(fixed);
  
  display: none;
  justify-content: center;
  align-items: center;

  .modal-full-window {

    @include stretched;

    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    // Scrollable content
    > .modal-item {

      position: relative;
      z-index: 100;
      max-height: 100%;
      
      &:empty:before {
        content: "No Content"
      }
    }

    // Optional
    .modal-shadow {
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.75);
    }
  }

  // Background
  > .modal-background {

    @include stretched;

    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 75%,rgba(0,0,0,0.9) 100%);
  }
}

body.modal-visible {

  &.modal-safari-fix {
    top: -10px;
    position: fixed;
  }

  .modal-main {
    display: flex;
    transition: opacity $animation-time;
  }
}

// Animations
body.modal-visible-animated-in {

  > *:not(.modal-main) {
    animation: background-elements $animation-time forwards;
  }

  .modal-main {
    > .modal-full-window > .modal-item {
      animation: forground-scale-in $animation-time forwards;
    }

    > .modal-background {
      animation: background-opacity $animation-time * 2 forwards;
    }
  }
}

// Animations
body.modal-visible-animated-out .modal-main {
  opacity: 0;
}
